@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div>
        <label class ="Username"></label>
        <input class ="Username" />
    </div>
    <div>
        <label class ="Password"></label>
        <input class="Password" type="password" />
    </div>
    <button type="submit">Log in</button>
</form>
