@{
    ViewData["Title"] = "Login";
}

<form method="post" class="text-center">
    <div style="margin: 10px;" >
        <label class ="Username">Username</label>
        <input class ="Username" />
    </div>
    <div style="margin: 10px;" >
        <label class ="Password">Password</label>
        <input class="Password" type="password" />
    </div>

    <button style="margin: 10px;" type="submit">Log in</button>
</form>
